In [1]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('play_tennis.csv')
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [5]:
from sklearn.tree import DecisionTreeClassifier

In [6]:
gini_model=DecisionTreeClassifier(criterion="gini")
entropy_model=DecisionTreeClassifier(criterion="entropy")

In [7]:
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [3]:
from sklearn.preprocessing import LabelEncoder

In [8]:
lb=LabelEncoder()

In [9]:

data.outlook=lb.fit_transform(data.outlook)
data.temp=lb.fit_transform(data.temp)
data.humidity=lb.fit_transform(data.humidity)
data.wind=lb.fit_transform(data.wind)
data.play=lb.fit_transform(data.play)

In [11]:
X=data.drop(columns=["day","play"])
X.head()

   outlook  temp  humidity  wind
0        2     1         0     1
1        2     1         0     0
2        0     1         0     1
3        1     2         0     1
4        1     0         1     1

In [12]:
Y=data.play
Y.head()

0    0
1    0
2    1
3    1
4    1
Name: play, dtype: int32

In [14]:
gini_model.fit(X,Y)

DecisionTreeClassifier()

In [15]:
from sklearn.metrics import accuracy_score

In [16]:
ypred=gini_model.predict(X)

In [17]:
accuracy_score(Y,ypred)*100

100.0

In [18]:
entropy_model.fit(X,Y)

DecisionTreeClassifier(criterion='entropy')

In [19]:
ypred=entropy_model.predict(X)

In [20]:
accuracy_score(Y,ypred)*100

100.0

#

In [22]:
df=pd.read_csv('salaries (1).csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [24]:
gini_model=DecisionTreeClassifier(criterion="gini")
entropy_model=DecisionTreeClassifier(criterion="entropy")

In [25]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [26]:
df.columns

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [32]:
df.company=lb.fit_transform(data.company)
df.job=lb.fit_transform(data.job)
df.degree=lb.fit_transform(data.degree)

In [33]:
X=df.drop(columns=["company","salary_more_then_100k"])
X.head()

   job  degree
0    2       0
1    2       1
2    0       0
3    0       1
4    1       0

In [34]:
Y=data.salary_more_then_100k
Y.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [35]:
gini_model.fit(X,Y)

DecisionTreeClassifier()

In [36]:
ypred=gini_model.predict(X)

In [37]:
accuracy_score(Y,ypred)*100

75.0

In [38]:
entropy_model.fit(X,Y)

DecisionTreeClassifier(criterion='entropy')

In [39]:
ypred=entropy_model.predict(X)

In [40]:
accuracy_score(Y,ypred)*100

75.0